{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
{% include "plantillas/head.html" %}
<body>

    {% include "plantillas/header.html" %}

    <main>
        <div class="nombre_pagina">
            <h1>COMPLETOS</h1>
        </div>

        <div class="contenedor-cartas-principal-conter">
            <div class="contenedor-cartas-principal">
                {% for producto in productos %}
                {% if producto.categoria.nombre_categoria|lower == "completos" and producto.stock > 0 %}
                <div class="contenedor-carta">
                    <div class="carta">
                        <img src="{{ producto.imagen_producto.url }}" alt="{{ producto.nombre_producto }}">
                        <div class="datos-producto">
                            <h1>{{ producto.nombre_producto }}</h1>
                            <p>{{ producto.descripcion_producto|truncatechars:110 }}</p>
                            <h2>${{ producto.precio_producto|floatformat:0|intcomma }}</h2>
                        </div>
                    </div>
                    <button
                        class="btn btn-warning btn-abrir-modal"
                        data-bs-toggle="modal"
                        data-bs-target="#modalProducto{{ producto.id }}"
                        data-stock="{{ producto.stock }}"
                    >
                        AGREGAR
                    </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modalProducto{{ producto.id }}" tabindex="-1" aria-labelledby="modalLabel{{ producto.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">

                            <div class="contenedor-modal-personalizado">

                                <div class="contenedor-modal-inicio">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>
                                </div>

                                <div class="contenedor-modal-divisor">
                                    <div class="contenedor-modal-izquierda">
                                        <img src="{{ producto.imagen_producto.url }}" alt="{{ producto.nombre_producto }}">
                                    </div>

                                    <div class="contenedor-modal-derecha">
                                        <div class="contenedor-modal-items-centrados">
                                            <h1>{{ producto.nombre_producto }}</h1>
                                            <p>{{ producto.descripcion_producto }}</p>
                                            <h2>${{ producto.precio_producto|floatformat:0|intcomma }}</h2>
                                        </div>

                                        <div class="contenedor-topings">
                                            {% if producto.permite_aderezos %}
                                            <div class="contenedor-aderezos-modal mb-3">
                                                <div class="contenedor-modal-titulo-toppings">
                                                    <label class="form-label">Selecciona tus aderezos</label>
                                                    <label class="form-label opcional">(Opcional)</label>
                                                </div>
                                                <div class="form-check">
                                                    {% for aderezo in aderezos %}
                                                    <input class="form-check-input" type="checkbox" name="aderezos" value="{{ aderezo.nombre_aderezo }}" id="aderezo{{ producto.id }}-{{ aderezo.id }}">
                                                    <label class="form-check-label" for="aderezo{{ producto.id }}-{{ aderezo.id }}">
                                                        {{ aderezo.nombre_aderezo }}
                                                    </label><br>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% endif %}

                                            <div class="contenedor-ingredientes-extra mb-3">
                                                <div class="contenedor-modal-titulo-toppings">
                                                    <label class="form-label">Agrega ingredientes extra</label>
                                                    <label class="form-label opcional">(Máx. 3)</label>
                                                </div>
                                                <div class="form-check">
                                                    <div class="separador-ingrediente-extra">
                                                        {% for extra in ingredientes_extras %}
                                                        <div class="separador-ingrediente-extra-check">
                                                            <div class="fila-ingrediente">
                                                                <div class="izquierda">
                                                                    <input class="form-check-input ingrediente-extra" type="checkbox" name="ingredientes_extra" value="{{ extra.id }}" data-precio="{{ extra.precio_adicional }}" id="extra{{ producto.id }}-{{ extra.id }}">
                                                                    <label class="form-check-label" for="extra{{ producto.id }}-{{ extra.id }}">{{ extra.nombre_ingrediente }}</label>
                                                                </div>
                                                                <div class="derecha">
                                                                    <span>${{ extra.precio_adicional|floatformat:0|intcomma }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer px-0">
                                    <div class="contenedor-modal-agregar-mas-productos">
                                        <button class="btn-restar" data-id="{{ producto.id }}"><</button>
                                        <h1 id="cantidad-{{ producto.id }}">1</h1>
                                        <button class="btn-sumar" data-id="{{ producto.id }}">></button>
                                    </div>
                                    <button
                                        type="button"
                                        class="btn btn-primary"
                                        id="btn-agregar-{{ producto.id }}"
                                        data-precio-base="{{ producto.precio_producto }}"
                                        data-stock="{{ producto.stock }}"
                                    >
                                        AGREGAR ${{ producto.precio_producto|floatformat:0|intcomma }}
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>

    {% include "plantillas/footer.html" %}
    {% include "plantillas/js.html" %}
</body>
</html>
