{% load static %}
<footer>
    <h1>Siguenos en nuestras redes sociales!</h1>
    <div class="redes-sociales-contenedor">
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://wa.me/56957709123" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
    <div class="logo-footer">
        <img id="logo-footer" src="{% static 'logo_sin_fondo.png' %}" alt="Logo Won Desgracia'o">
    </div>
</footer>