{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
{% include "plantillas/head.html" %}
<body>

    {% include "plantillas/header.html" %}

    <main>
        <div class="img-stand">
            <img src="{% static 'stand.png' %}" alt="stand">
        </div>

        <div class="separador-titulo">
            <h1>NUESTROS PRODUCTOS!</h1>
        </div>

        <div class="carousel-container">
            <div class="carousel">
                <div class="item" data-url="{% url 'churrascos' %}">
                    <img src="{% static 'carrusel/churrascos.png' %}" alt="Churrascos">
                    <span>CHURRASCOS</span>
                </div>
                <div class="item" data-url="{% url 'lomitos' %}">
                    <img src="{% static 'carrusel/lomitos.png' %}" alt="Lomitos">
                    <span>LOMITOS</span>
                </div>
                <div class="item" data-url="{% url 'completos' %}">
                    <img src="{% static 'carrusel/completos.png' %}" alt="Completos">
                    <span>COMPLETOS</span>
                </div>
                <div class="item" data-url="{% url 'papas_fritas' %}">
                    <img src="{% static 'carrusel/papas_fritas.png' %}" alt="Papas Fritas">
                    <span>PAPAS FRITAS</span>
                </div>
                <div class="item" data-url="{% url 'ass' %}">
                    <img src="{% static 'carrusel/ass.png' %}" alt="Ass">
                    <span>ASS</span>
                </div>
                <div class="item" data-url="{% url 'bebestibles' %}">
                    <img src="{% static 'carrusel/bebestibles.png' %}" alt="Bebestibles">
                    <span>BEBESTIBLES</span>
                </div>
            </div>
        </div>

        <div class="separador-sub-titulo">
            <h1>PRODUCTOS POPULARES!</h1>
        </div>

        <div class="swiper productos-swiper">
            <div class="swiper-wrapper">
              {% for producto in productos %}
                <div class="swiper-slide">
                  <div class="contenedor-carta">
                    <div class="carta">
                      <img src="{{ producto.imagen_producto.url }}" alt="{{ producto.nombre_producto }}">
                      <div class="datos-producto">
                        <h1>{{ producto.nombre_producto }}</h1>
                        <p>{{ producto.descripcion_producto|truncatechars:110 }}</p>
                        <h2>${{ producto.precio_producto|floatformat:0|intcomma }}</h2>
                      </div>
                    </div>
                    <button>AGREGAR</button>
                  </div>
                </div>
              {% endfor %}
            </div>
          
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          

    </main>

    {% include "plantillas/footer.html" %}
    {% include "plantillas/js.html" %}
</body>
</html>
